@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset css mini */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', serif;
}

a {
	text-decoration: none;
	color: inherit; /* перенимает цвет */
	outline: none;
}

ul,
li {
	list-style: none;
}

h1,
h2,
h3 {
	font-weight: 600;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #343233;
}

button {
	border: 0;
}

span {
	color: #ffd152;
}

/* CSS BASE */

.container {
	max-width: 1024px;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.grid {
	display: grid; /* сетка */
}

.section {
	padding: 4.5rem 0 2rem;
}

.wallpaper-1 {
	background-image: url(../img/wallpaper-1.png);
	background-repeat: no-repeat;
	background-position: center;
}

.wallpaper-2 {
	background-image: url(../img/wallpaper-2.png);
}

.wallpaper-3 {
	background-image: url(../img/wallpaper-3.png);
	background-repeat: no-repeat;
}

.wallpaper-4 {
	background-image: url(../img/wallpaper-4.png);
	background-repeat: no-repeat;
}

/* Header */

.header {
	top: 0;
	left: 0;
	background-color: #584b4f;
	width: 100%;
	transition: 0.3s;
	box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.15);
}

.nav {
	display: flex;
	color: #efeae1;
	justify-content: space-between;
	align-items: center;
}

.nav__menu {
	padding: 1rem 3rem;
}

.nav__logo {
	display: flex;
	align-items: center;
	column-gap: 0.3rem;
	font-size: 1.3rem;
	font-weight: 600;
	transition: 0.2s;
}

.nav__logo i {
	margin-top: 3px;
	font-size: 1rem;
}

.nav__logo:hover {
	color: #b3afa8;
}

.nav__logo:hover .icon {
	color: #66d6ed;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	column-gap: 3rem;
}

.nav__link {
	display: flex;
}

.nav__item a:hover {
	transition: 0.2s;
	color: #b3afa8;
}

/* HOME */
.home {
	/* border: 2px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1080px;
}

.home__img {
	border-radius: 20%;

	background-color: #404040;
	width: 370px;

	animation: moveUpDown 2s ease-in-out infinite;
	animation-duration: 2.5s;

	box-shadow: px 3px 3px hsla(0, 0%, 0%, 0.15);
}

.home__data {
	text-align: center;
	max-width: 1200px;
	width: 100%;
	padding: 20px;
	color: #fff;
	padding-top: 4rem;
	text-align: center;
	margin-bottom: 10rem;
}

.home__description {
	margin-top: 3rem;
	font-size: 2rem;
}

.home__info {
	display: flex;
	align-items: center;
	justify-content: space-around; /* Распределяет блоки равномерно */
	border: 1px solid;
	margin-top: 2rem;
	gap: -12rem;
	border-radius: 20px;
	padding: 1rem 1rem 1rem 1rem;
}

.home__border {
	border-left: 1px solid;
	margin-right: 2rem;
}

.home__button {
	cursor: pointer;
	margin-top: 2rem;
	font-weight: 600;
	font-size: 1rem;
	color: #111;
	padding: 1rem 2rem 1rem 2rem;
	background-color: #ffd152;
	border-radius: 5px;
	transition: 0.3s;
}

.home__button:hover {
	background-color: #fabf1b;
}

/* DEVELOP */

.develop.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.develop__container {
	margin-left: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	max-width: 1200px;
	gap: 40px;
}

.develop__text {
	flex: 1;
	padding-left: 50px;
}

.develop__title {
	color: #efdab9;
	font-size: 2rem;
	font-weight: bold;
}

.develop__description {
	color: #efdab9;
	font-size: 1rem;
	margin-top: 10px;
	font-weight: 300;
}

.develop__icons {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	justify-items: center;
}

.develop__icons img {
	width: 100px;
	height: auto;
	border-radius: 8px;
	border-bottom: 1px solid;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.develop__espresso-img {
	width: 100px !important;
	height: 100px !important;
}

.develop__eclipse-img {
	width: 100px !important;
	height: 100px !important;
}

.develop__button {
	cursor: pointer;
	margin-top: 2rem;
	font-weight: 600;
	font-size: 1rem;
	color: #111;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #ffd152;
	border-radius: 5px;
	transition: 0.3s;
}

.develop__button:hover {
	background-color: #fabf1b;
}

/* Team info */
.team-1 {
	margin-top: 10rem;
	padding-right: 300px;
}

.team.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.team__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.team__text {
	padding-left: 90px;
}

.team__title {
	color: #efdab9;
	font-size: 1.5rem;
	font-weight: bold;
}

.team__description {
	color: #efdab9;
	font-size: 1rem;
	margin-top: 10px;
	font-weight: 300;
}

.team__icons {
	justify-items: center;
}

.team__image {
	position: relative;
}

.team__image img {
	height: auto;
	border-radius: 8px;
	box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}

.team__image::before {
	content: ''; /* empty content */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 501px;
	background-color: hsl(166, 82%, 66%, 0.5);
	border-radius: 8px;
	transition: 2s;
}

.team__image:hover::before {
	opacity: 0;
}

.team__button {
	cursor: pointer;
	margin-top: 2rem;
	font-weight: 600;
	font-size: 1rem;
	color: #111;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #61efce;
	border-radius: 5px;
	transition: 0.3s;
}

.team__button:hover {
	background-color: #46aa92;
}

/* Service */
.service {
	height: 600px;
	display: flex;
}

.service__container {
	max-width: 1200px;
}

.service.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.service__data {
	display: flex;
	text-align: center;
	column-gap: 10rem;
}

.service__card {
	width: 300px;
	text-align: center;
	padding: 30px;
}

.service__card i {
	color: #efdab9;
	border-radius: 5%;
	padding: 0.3rem;
	background-color: #3d3a3a;
	font-size: 35px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.service__title {
	color: #efdab9;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.service__description {
	color: #efdab9;

	font-weight: 300;
	font-size: 1rem;
}

/* vacancie */

.vacancies.section {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10rem;
}

.vacancies__data {
	background-color: #2c2a2b;
	text-align: center;
	padding: 2rem 4rem;
	box-shadow: 3px 3px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.vacancies__title {
	font-size: 2.5rem;
	color: #efdab9;
	font-weight: 600;
	margin-bottom: 1rem;
}

.vacancies__subtitle {
	font-size: 1.5rem;
	color: #ffd152;
	margin-bottom: 1rem;
}

.vacancies__description {
	color: #efdab9;
}

.vacancies__button {
	cursor: pointer;
	margin-top: 2rem;
	font-weight: 600;
	font-size: 1rem;
	color: #111;
	padding: 1rem 2rem 1rem 2rem;
	background-color: #ffd152;
	border-radius: 5px;
	transition: 0.3s;
}

.vacancies__button:hover {
	background-color: #fabf1b;
}

/* Footer */

.footer {
	background-color: #efeae1;
	color: #574c4f;
	padding: 1rem 0;
	text-align: center;
	font-size: 0.9rem;
}

.footer__container {
	display: flex;
	max-width: 900px;
	margin: 0 auto;
	align-items: center;
}

.footer__links {
	display: flex;
	gap: 1rem;
	margin: 0 auto;
}

.footer__links a:hover {
	color: #2c2a2b;
}

.footer__info {
	margin: 0 auto;
}

.footer__info:hover {
	color: #2c2a2b;
}

/* animation logo header*/

@keyframes moveUpDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}
